# Dev files/folders
*.ts
.*ignore
.eslintrc.js
.prettierrc
.vscode
/node_modules
/src
tsconfig.json

# Github assets
*.md
.git*
/.github
/.husky
/assets
LICENSE

# Docker
Dockerfile
docker-compose.yml