{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020
    },
    "rules": {
        "no-constant-condition": "off",
        "capitalized-comments": "error",
        "eqeqeq": ["error", "always"],
        "no-duplicate-imports": "error",
        "no-unreachable-loop": "error",
        "sort-imports": "error"
    }
}
