name: Auto Assign
on:
  issues:
    types: [opened, edited, labeled, unlabeled]
  pull_request:
    types: [opened, edited, labeled, unlabeled]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/auto-assign@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          addReviewers: true
          addAssignees: true
          numberOfReviewers: 0
          numberOfAssignees: 0
          reviewers: |
            adan-ea
          assignees: |
            adan-ea
          skipKeywords: wip, draft
